$color_1: #FFFFFF;
$color_2: #F7F3F2;
$color_3: #444444;
$color_4: #E3E3E3;
$color_5: #666666;
$color_6: #FF4E50;
$color_7: #999999;
$color_8: #CCCCCC;
$font_family_1: "Montserrat-Bold";
$font_family_2: "Montserrat-Regular";
$font_family_3: "Roboto-Light";